#Домашнє завдання до тем apply(), groupby(), pivot_table()

В цьому домашньому завданні продовжуємо працювати з набором даних `supermarket_sales.csv`.

0. Імпортуйте бібліотеку pandas та зчитайте дані у змінну `df` типу `pandas.DataFrame`.

In [1]:
import pandas as pd

In [2]:
path = r"C:\Users\a.nemogushcha\OneDrive - ТОВ Смарт Дистрибюшн\Documents\Data_\supermarket_sales.csv"
df = pd.read_csv(path)
print(type(df))

<class 'pandas.core.frame.DataFrame'>

1. Дослідимо, який філіал супермаркету ('Branch') є найприбутковішим. Для цього знайдіть сумарний прибуток за кожним філіалом і виявіть, який філіал має найвищий.

In [17]:
branch_profit = df.groupby('Branch')['gross income'].sum()
profitbranch = branch_profit.idxmax()
print("Найприбутковіший філіал:", profitbranch)
print(branch_profit)

Найприбутковіший філіал: C
Branch
A    5057.1605
B    5057.0320
C    5265.1765
Name: gross income, dtype: float64

2. В якому місті знайходиться філіал з найвищим прибутком? Може в тому місці нам розмітисти ще один магазин.  
Знайдіть відповідь за допомогою функціоналу Pandas.

In [26]:
branchct = df[df['Branch'] == profitbranch]['City'].iloc[0]
branchct

'Naypyitaw'

3.1. Створіть зводну таблицю, яка покаже, скільки покупок (інвойсів) було зроблено в кожній з філій (`Branch`) за різними категоріями товарів. Запишіть таблицю в змінну `invoices_by_category` і виведіть змінну на екран.
Ця таблиця допоможе проаналізувати, в якій філії купують найбільше товарів кожної з категорій.

In [14]:
invoices_by_category = df.pivot_table(index='Branch', columns='Product line', values='Invoice ID', aggfunc='count')
invoices_by_category

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Branch,,,,,,
A,60,51,58,47,65,59
B,55,62,50,53,50,62
C,55,65,66,52,45,45

Очікуваний результат:

![](https://drive.google.com/uc?export=view&id=1rueAdko6S3UxIHGtojetTxlES-EyM6Yb)

3.2. Викристовуючи змінну `invoices_by_category` дайте відповідь програмно (тобто значення треба не просто знайти очима, а вивести за допомогою коду), в якому філіалі магазину (`Branch`) найбільше інвойсів із покупкою товарів категорії "Електронні аксесуари" (`Electronic accessories`)?

In [34]:
branch_maxin = invoices_by_category['Electronic accessories'].idxmax()
incount = invoices_by_category['Electronic accessories'].max()
print("Філіал з найбільшою кількістю інвойсів у категорії -", branch_maxin)
print("Кількість:", incount)

Філіал з найбільшою кількістю інвойсів у категорії - A
Кількість: 60

4-6. **Творче завдання на розвиток аналітичного мислення**

Крок 1. Сформулюйте ТРИ питання (гіпотези) до наявних даних, які допомогли б вам зрозуміти, які користувачі що, де та коли найбільше/найменше купують, аби дати на основі цих гіпотез рекомендації бізнесу. Звісно питання мають бути не тими, на які ми вже відповіли в завданнях модулю.

Крок 2. Знайдіть відповіді на свої питання з допомогою функціоналу pandas.

Крок 3. Напишіть, як відповідь на це питання може бути використана для прийняття бізнес рішень.   
   
 Питання можуть бути будь-якої складності, але їх має бути 3. Кожне питання оцінюється як 1 завдання. Без виконання цього завдання ДЗ не приймається. Якщо є питання щодо виконання - пишіть у чат 🙌

1. Залежність покупок від статі та категорії товару
Проаналізувати хто які категорії купує частіше

In [41]:
gender_product = df.groupby(['Gender', 'Product line']).agg(
    total_purchases=('Invoice ID', 'count'),
    total_gross_=('gross income', 'sum')).reset_index()

print("Кількість покупок та загальний дохід за статтю та категорією товару:")
(gender_product)

Кількість покупок та загальний дохід за статтю та категорією товару:

    Gender            Product line  total_purchases  total_gross_
0   Female  Electronic accessories               84     1290.5725
1   Female     Fashion accessories               96     1449.4000
2   Female      Food and beverages               90     1579.5675
3   Female       Health and beauty               64      883.8565
4   Female      Home and lifestyle               79     1430.3275
5   Female       Sports and travel               88     1360.7010
6     Male  Electronic accessories               86     1296.9290
7     Male     Fashion accessories               82     1136.5950
8     Male      Food and beverages               84     1093.9965
9     Male       Health and beauty               88     1458.7025
10    Male      Home and lifestyle               81     1134.5255
11    Male       Sports and travel               78     1264.1955

Бачимо, що більшість категорії товарів значно частіше купуються жіночою статтю, то можна адаптувати асортимент та його розташування

2. Кількість прожажів по дням тижня
Аналіз активних днів допоможе з логістикою, розширити асортимент, кількість та акціями

In [42]:
df['Date'] = pd.to_datetime(df['Date'])
df['Weekday'] = df['Date'].dt.day_name()
food_sales = df[df['Product line'] == 'Food and beverages']['Weekday'].value_counts()
food_sales

Weekday
Wednesday    33
Saturday     31
Tuesday      26
Sunday       23
Monday       22
Thursday     20
Friday       19
Name: count, dtype: int64

In [ ]:
Бачимо, ща в середу і суботу найбільше  покупок, можна в ці дні розширити асортимент, наповнити гарно магазин, зробити акціі, дегустаціі

3. Яку категорію купують найчастіше
Допоможе зрозуміти яку категорію слід просувати, та збільшити асортимент, поставити на видному місці

In [40]:
avg_income_by_category = df.groupby('Product line')['gross income'].mean().sort_values(ascending=False)
print(avg_income_by_category)

Product line
Home and lifestyle        16.030331
Sports and travel         15.812630
Health and beauty         15.411572
Food and beverages        15.365310
Electronic accessories    15.220597
Fashion accessories       14.528062
Name: gross income, dtype: float64

Бачимо, що сама важлива категорія - Home and lifestyle. Збільшити асортимент, нові товари, пропозиціі, акціі