#–î–æ–º–∞—à–Ω—î –∑–∞–≤–¥–∞–Ω–Ω—è –¥–æ —Ç–µ–º apply(), groupby(), pivot_table()

–í —Ü—å–æ–º—É –¥–æ–º–∞—à–Ω—å–æ–º—É –∑–∞–≤–¥–∞–Ω–Ω—ñ –ø—Ä–æ–¥–æ–≤–∂—É—î–º–æ –ø—Ä–∞—Ü—é–≤–∞—Ç–∏ –∑ –Ω–∞–±–æ—Ä–æ–º –¥–∞–Ω–∏—Ö `supermarket_sales.csv`.

0. –Ü–º–ø–æ—Ä—Ç—É–π—Ç–µ –±—ñ–±–ª—ñ–æ—Ç–µ–∫—É pandas —Ç–∞ –∑—á–∏—Ç–∞–π—Ç–µ –¥–∞–Ω—ñ —É –∑–º—ñ–Ω–Ω—É `df` —Ç–∏–ø—É `pandas.DataFrame`.

In [1]:
import pandas as pd

In [2]:
path = r"C:\Users\a.nemogushcha\OneDrive - –¢–û–í –°–º–∞—Ä—Ç –î–∏—Å—Ç—Ä–∏–±—é—à–Ω\Documents\Data_\supermarket_sales.csv"
df = pd.read_csv(path)
print(type(df))

<class 'pandas.core.frame.DataFrame'>

1. –î–æ—Å–ª—ñ–¥–∏–º–æ, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª —Å—É–ø–µ—Ä–º–∞—Ä–∫–µ—Ç—É ('Branch') —î –Ω–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à–∏–º. –î–ª—è —Ü—å–æ–≥–æ –∑–Ω–∞–π–¥—ñ—Ç—å —Å—É–º–∞—Ä–Ω–∏–π –ø—Ä–∏–±—É—Ç–æ–∫ –∑–∞ –∫–æ–∂–Ω–∏–º —Ñ—ñ–ª—ñ–∞–ª–æ–º —ñ –≤–∏—è–≤—ñ—Ç—å, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª –º–∞—î –Ω–∞–π–≤–∏—â–∏–π.

In [17]:
branch_profit = df.groupby('Branch')['gross income'].sum()
profitbranch = branch_profit.idxmax()
print("–ù–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à–∏–π —Ñ—ñ–ª—ñ–∞–ª:", profitbranch)
print(branch_profit)

–ù–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à–∏–π —Ñ—ñ–ª—ñ–∞–ª: C
Branch
A    5057.1605
B    5057.0320
C    5265.1765
Name: gross income, dtype: float64

2. –í —è–∫–æ–º—É –º—ñ—Å—Ç—ñ –∑–Ω–∞–π—Ö–æ–¥–∏—Ç—å—Å—è —Ñ—ñ–ª—ñ–∞–ª –∑ –Ω–∞–π–≤–∏—â–∏–º –ø—Ä–∏–±—É—Ç–∫–æ–º? –ú–æ–∂–µ –≤ —Ç–æ–º—É –º—ñ—Å—Ü—ñ –Ω–∞–º —Ä–æ–∑–º—ñ—Ç–∏—Å—Ç–∏ —â–µ –æ–¥–∏–Ω –º–∞–≥–∞–∑–∏–Ω.  
–ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—å –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É Pandas.

In [26]:
branchct = df[df['Branch'] == profitbranch]['City'].iloc[0]
branchct

'Naypyitaw'

3.1. –°—Ç–≤–æ—Ä—ñ—Ç—å –∑–≤–æ–¥–Ω—É —Ç–∞–±–ª–∏—Ü—é, —è–∫–∞ –ø–æ–∫–∞–∂–µ, —Å–∫—ñ–ª—å–∫–∏ –ø–æ–∫—É–ø–æ–∫ (—ñ–Ω–≤–æ–π—Å—ñ–≤) –±—É–ª–æ –∑—Ä–æ–±–ª–µ–Ω–æ –≤ –∫–æ–∂–Ω—ñ–π –∑ —Ñ—ñ–ª—ñ–π (`Branch`) –∑–∞ —Ä—ñ–∑–Ω–∏–º–∏ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è–º–∏ —Ç–æ–≤–∞—Ä—ñ–≤. –ó–∞–ø–∏—à—ñ—Ç—å —Ç–∞–±–ª–∏—Ü—é –≤ –∑–º—ñ–Ω–Ω—É `invoices_by_category` —ñ –≤–∏–≤–µ–¥—ñ—Ç—å –∑–º—ñ–Ω–Ω—É –Ω–∞ –µ–∫—Ä–∞–Ω.
–¶—è —Ç–∞–±–ª–∏—Ü—è –¥–æ–ø–æ–º–æ–∂–µ –ø—Ä–æ–∞–Ω–∞–ª—ñ–∑—É–≤–∞—Ç–∏, –≤ —è–∫—ñ–π —Ñ—ñ–ª—ñ—ó –∫—É–ø—É—é—Ç—å –Ω–∞–π–±—ñ–ª—å—à–µ —Ç–æ–≤–∞—Ä—ñ–≤ –∫–æ–∂–Ω–æ—ó –∑ –∫–∞—Ç–µ–≥–æ—Ä—ñ–π.

In [14]:
invoices_by_category = df.pivot_table(index='Branch', columns='Product line', values='Invoice ID', aggfunc='count')
invoices_by_category

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Branch,,,,,,
A,60,51,58,47,65,59
B,55,62,50,53,50,62
C,55,65,66,52,45,45

–û—á—ñ–∫—É–≤–∞–Ω–∏–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç:

![](https://drive.google.com/uc?export=view&id=1rueAdko6S3UxIHGtojetTxlES-EyM6Yb)

3.2. –í–∏–∫—Ä–∏—Å—Ç–æ–≤—É—é—á–∏ –∑–º—ñ–Ω–Ω—É `invoices_by_category` –¥–∞–π—Ç–µ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –ø—Ä–æ–≥—Ä–∞–º–Ω–æ (—Ç–æ–±—Ç–æ –∑–Ω–∞—á–µ–Ω–Ω—è —Ç—Ä–µ–±–∞ –Ω–µ –ø—Ä–æ—Å—Ç–æ –∑–Ω–∞–π—Ç–∏ –æ—á–∏–º–∞, –∞ –≤–∏–≤–µ—Å—Ç–∏ –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é –∫–æ–¥—É), –≤ —è–∫–æ–º—É —Ñ—ñ–ª—ñ–∞–ª—ñ –º–∞–≥–∞–∑–∏–Ω—É (`Branch`) –Ω–∞–π–±—ñ–ª—å—à–µ —ñ–Ω–≤–æ–π—Å—ñ–≤ —ñ–∑ –ø–æ–∫—É–ø–∫–æ—é —Ç–æ–≤–∞—Ä—ñ–≤ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó "–ï–ª–µ–∫—Ç—Ä–æ–Ω–Ω—ñ –∞–∫—Å–µ—Å—É–∞—Ä–∏" (`Electronic accessories`)?

In [34]:
branch_maxin = invoices_by_category['Electronic accessories'].idxmax()
incount = invoices_by_category['Electronic accessories'].max()
print("–§—ñ–ª—ñ–∞–ª –∑ –Ω–∞–π–±—ñ–ª—å—à–æ—é –∫—ñ–ª—å–∫—ñ—Å—Ç—é —ñ–Ω–≤–æ–π—Å—ñ–≤ —É –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó -", branch_maxin)
print("–ö—ñ–ª—å–∫—ñ—Å—Ç—å:", incount)

–§—ñ–ª—ñ–∞–ª –∑ –Ω–∞–π–±—ñ–ª—å—à–æ—é –∫—ñ–ª—å–∫—ñ—Å—Ç—é —ñ–Ω–≤–æ–π—Å—ñ–≤ —É –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó - A
–ö—ñ–ª—å–∫—ñ—Å—Ç—å: 60

4-6. **–¢–≤–æ—Ä—á–µ –∑–∞–≤–¥–∞–Ω–Ω—è –Ω–∞ —Ä–æ–∑–≤–∏—Ç–æ–∫ –∞–Ω–∞–ª—ñ—Ç–∏—á–Ω–æ–≥–æ –º–∏—Å–ª–µ–Ω–Ω—è**

–ö—Ä–æ–∫ 1. –°—Ñ–æ—Ä–º—É–ª—é–π—Ç–µ –¢–†–ò –ø–∏—Ç–∞–Ω–Ω—è (–≥—ñ–ø–æ—Ç–µ–∑–∏) –¥–æ –Ω–∞—è–≤–Ω–∏—Ö –¥–∞–Ω–∏—Ö, —è–∫—ñ –¥–æ–ø–æ–º–æ–≥–ª–∏ –± –≤–∞–º –∑—Ä–æ–∑—É–º—ñ—Ç–∏, —è–∫—ñ –∫–æ—Ä–∏—Å—Ç—É–≤–∞—á—ñ —â–æ, –¥–µ —Ç–∞ –∫–æ–ª–∏ –Ω–∞–π–±—ñ–ª—å—à–µ/–Ω–∞–π–º–µ–Ω—à–µ –∫—É–ø—É—é—Ç—å, –∞–±–∏ –¥–∞—Ç–∏ –Ω–∞ –æ—Å–Ω–æ–≤—ñ —Ü–∏—Ö –≥—ñ–ø–æ—Ç–µ–∑ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó –±—ñ–∑–Ω–µ—Å—É. –ó–≤—ñ—Å–Ω–æ –ø–∏—Ç–∞–Ω–Ω—è –º–∞—é—Ç—å –±—É—Ç–∏ –Ω–µ —Ç–∏–º–∏, –Ω–∞ —è–∫—ñ –º–∏ –≤–∂–µ –≤—ñ–¥–ø–æ–≤—ñ–ª–∏ –≤ –∑–∞–≤–¥–∞–Ω–Ω—è—Ö –º–æ–¥—É–ª—é.

–ö—Ä–æ–∫ 2. –ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—ñ –Ω–∞ —Å–≤–æ—ó –ø–∏—Ç–∞–Ω–Ω—è –∑ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É pandas.

–ö—Ä–æ–∫ 3. –ù–∞–ø–∏—à—ñ—Ç—å, —è–∫ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –Ω–∞ —Ü–µ –ø–∏—Ç–∞–Ω–Ω—è –º–æ–∂–µ –±—É—Ç–∏ –≤–∏–∫–æ—Ä–∏—Å—Ç–∞–Ω–∞ –¥–ª—è –ø—Ä–∏–π–Ω—è—Ç—Ç—è –±—ñ–∑–Ω–µ—Å —Ä—ñ—à–µ–Ω—å.   
   
 –ü–∏—Ç–∞–Ω–Ω—è –º–æ–∂—É—Ç—å –±—É—Ç–∏ –±—É–¥—å-—è–∫–æ—ó —Å–∫–ª–∞–¥–Ω–æ—Å—Ç—ñ, –∞–ª–µ —ó—Ö –º–∞—î –±—É—Ç–∏ 3. –ö–æ–∂–Ω–µ –ø–∏—Ç–∞–Ω–Ω—è –æ—Ü—ñ–Ω—é—î—Ç—å—Å—è —è–∫ 1 –∑–∞–≤–¥–∞–Ω–Ω—è. –ë–µ–∑ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è —Ü—å–æ–≥–æ –∑–∞–≤–¥–∞–Ω–Ω—è –î–ó –Ω–µ –ø—Ä–∏–π–º–∞—î—Ç—å—Å—è. –Ø–∫—â–æ —î –ø–∏—Ç–∞–Ω–Ω—è —â–æ–¥–æ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è - –ø–∏—à—ñ—Ç—å —É —á–∞—Ç üôå

1. –ó–∞–ª–µ–∂–Ω—ñ—Å—Ç—å –ø–æ–∫—É–ø–æ–∫ –≤—ñ–¥ —Å—Ç–∞—Ç—ñ —Ç–∞ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó —Ç–æ–≤–∞—Ä—É
–ü—Ä–æ–∞–Ω–∞–ª—ñ–∑—É–≤–∞—Ç–∏ —Ö—Ç–æ —è–∫—ñ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó –∫—É–ø—É—î —á–∞—Å—Ç—ñ—à–µ

In [41]:
gender_product = df.groupby(['Gender', 'Product line']).agg(
    total_purchases=('Invoice ID', 'count'),
    total_gross_=('gross income', 'sum')).reset_index()

print("–ö—ñ–ª—å–∫—ñ—Å—Ç—å –ø–æ–∫—É–ø–æ–∫ —Ç–∞ –∑–∞–≥–∞–ª—å–Ω–∏–π –¥–æ—Ö—ñ–¥ –∑–∞ —Å—Ç–∞—Ç—Ç—é —Ç–∞ –∫–∞—Ç–µ–≥–æ—Ä—ñ—î—é —Ç–æ–≤–∞—Ä—É:")
(gender_product)

–ö—ñ–ª—å–∫—ñ—Å—Ç—å –ø–æ–∫—É–ø–æ–∫ —Ç–∞ –∑–∞–≥–∞–ª—å–Ω–∏–π –¥–æ—Ö—ñ–¥ –∑–∞ —Å—Ç–∞—Ç—Ç—é —Ç–∞ –∫–∞—Ç–µ–≥–æ—Ä—ñ—î—é —Ç–æ–≤–∞—Ä—É:

    Gender            Product line  total_purchases  total_gross_
0   Female  Electronic accessories               84     1290.5725
1   Female     Fashion accessories               96     1449.4000
2   Female      Food and beverages               90     1579.5675
3   Female       Health and beauty               64      883.8565
4   Female      Home and lifestyle               79     1430.3275
5   Female       Sports and travel               88     1360.7010
6     Male  Electronic accessories               86     1296.9290
7     Male     Fashion accessories               82     1136.5950
8     Male      Food and beverages               84     1093.9965
9     Male       Health and beauty               88     1458.7025
10    Male      Home and lifestyle               81     1134.5255
11    Male       Sports and travel               78     1264.1955

–ë–∞—á–∏–º–æ, —â–æ –±—ñ–ª—å—à—ñ—Å—Ç—å –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó —Ç–æ–≤–∞—Ä—ñ–≤ –∑–Ω–∞—á–Ω–æ —á–∞—Å—Ç—ñ—à–µ –∫—É–ø—É—é—Ç—å—Å—è –∂—ñ–Ω–æ—á–æ—é —Å—Ç–∞—Ç—Ç—é, —Ç–æ –º–æ–∂–Ω–∞ –∞–¥–∞–ø—Ç—É–≤–∞—Ç–∏ –∞—Å–æ—Ä—Ç–∏–º–µ–Ω—Ç —Ç–∞ –π–æ–≥–æ —Ä–æ–∑—Ç–∞—à—É–≤–∞–Ω–Ω—è

2. –ö—ñ–ª—å–∫—ñ—Å—Ç—å –ø—Ä–æ–∂–∞–∂—ñ–≤ –ø–æ –¥–Ω—è–º —Ç–∏–∂–Ω—è
–ê–Ω–∞–ª—ñ–∑ –∞–∫—Ç–∏–≤–Ω–∏—Ö –¥–Ω—ñ–≤ –¥–æ–ø–æ–º–æ–∂–µ –∑ –ª–æ–≥—ñ—Å—Ç–∏–∫–æ—é, —Ä–æ–∑—à–∏—Ä–∏—Ç–∏ –∞—Å–æ—Ä—Ç–∏–º–µ–Ω—Ç, –∫—ñ–ª—å–∫—ñ—Å—Ç—å —Ç–∞ –∞–∫—Ü—ñ—è–º–∏

In [42]:
df['Date'] = pd.to_datetime(df['Date'])
df['Weekday'] = df['Date'].dt.day_name()
food_sales = df[df['Product line'] == 'Food and beverages']['Weekday'].value_counts()
food_sales

Weekday
Wednesday    33
Saturday     31
Tuesday      26
Sunday       23
Monday       22
Thursday     20
Friday       19
Name: count, dtype: int64

In [ ]:
–ë–∞—á–∏–º–æ, —â–∞ –≤ —Å–µ—Ä–µ–¥—É —ñ —Å—É–±–æ—Ç—É –Ω–∞–π–±—ñ–ª—å—à–µ  –ø–æ–∫—É–ø–æ–∫, –º–æ–∂–Ω–∞ –≤ —Ü—ñ –¥–Ω—ñ —Ä–æ–∑—à–∏—Ä–∏—Ç–∏ –∞—Å–æ—Ä—Ç–∏–º–µ–Ω—Ç, –Ω–∞–ø–æ–≤–Ω–∏—Ç–∏ –≥–∞—Ä–Ω–æ –º–∞–≥–∞–∑–∏–Ω, –∑—Ä–æ–±–∏—Ç–∏ –∞–∫—Ü—ñ—ñ, –¥–µ–≥—É—Å—Ç–∞—Ü—ñ—ñ

3. –Ø–∫—É –∫–∞—Ç–µ–≥–æ—Ä—ñ—é –∫—É–ø—É—é—Ç—å –Ω–∞–π—á–∞—Å—Ç—ñ—à–µ
–î–æ–ø–æ–º–æ–∂–µ –∑—Ä–æ–∑—É–º—ñ—Ç–∏ —è–∫—É –∫–∞—Ç–µ–≥–æ—Ä—ñ—é —Å–ª—ñ–¥ –ø—Ä–æ—Å—É–≤–∞—Ç–∏, —Ç–∞ –∑–±—ñ–ª—å—à–∏—Ç–∏ –∞—Å–æ—Ä—Ç–∏–º–µ–Ω—Ç, –ø–æ—Å—Ç–∞–≤–∏—Ç–∏ –Ω–∞ –≤–∏–¥–Ω–æ–º—É –º—ñ—Å—Ü—ñ

In [40]:
avg_income_by_category = df.groupby('Product line')['gross income'].mean().sort_values(ascending=False)
print(avg_income_by_category)

Product line
Home and lifestyle        16.030331
Sports and travel         15.812630
Health and beauty         15.411572
Food and beverages        15.365310
Electronic accessories    15.220597
Fashion accessories       14.528062
Name: gross income, dtype: float64

–ë–∞—á–∏–º–æ, —â–æ —Å–∞–º–∞ –≤–∞–∂–ª–∏–≤–∞ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è - Home and lifestyle. –ó–±—ñ–ª—å—à–∏—Ç–∏ –∞—Å–æ—Ä—Ç–∏–º–µ–Ω—Ç, –Ω–æ–≤—ñ —Ç–æ–≤–∞—Ä–∏, –ø—Ä–æ–ø–æ–∑–∏—Ü—ñ—ñ, –∞–∫—Ü—ñ—ñ